/* Sticky footer styles
-------------------------------------------------- */

html,
body {
    width: 100%;
    height: 100%;
    background: #c60; /* Old browsers */
}

li.navbar-avatar>a {
    padding: 8px 15px;
}
.navbar-avatar:hover img {
    filter: alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}
.navbar-avatar img {
    height: 34px;
}

.micro-avatar img {
    width: 50px;
    height: 50px;
}

.profile-card p {
    line-height: 1;
}

.activity-stream li {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    margin: 0;
    padding: 10px;
}
.activity-stream .content {
    padding: 16px 0 0 0;
}
.activity-stream .faded {
    filter: alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}
.activity-stream .faded a {
    color: #111;
}
.activity-stream li:hover {
    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}
.activity-stream li:hover .faded {
    filter: alpha(opacity=100);
    -moz-opacity:1.0;
    -khtml-opacity: 1.0;
    opacity: 1.0;
}
.activity-stream li:hover .faded a {
    color: #900;
}

.links-muted a {
    color: rgb(119, 119, 119);
}

.navbar-inverse .navbar-brand {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.img-forum {
    width: 75%;
    display: block;
}

.real-content {
    /*background: #eee;*/
    padding-top: 70px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
}

.list-avatar {
    width: 110px;
}

#sidebar ul>li.active>a {
    background: #a00;
    color:#fff;
}

.comment-avatar {
    width: 50px;
}

.tagCloud {
    line-height: 30px;
    margin: 25px 0;
}
.tagCloud a {
    padding-left: .5em;
    padding-right: .5em;
}

.footnote a {
    color: #666;
}

.footnote a:hover {
    color: #333;
}

input {
    max-width: 100%;
}

.icon-donated:before {
    content: url("/web/20210201211736im_/https://fawm.org/img/icons/ico_donated.gif");
}
.icon-nsfw:before {
    content: url("/web/20210201211736im_/https://fawm.org/img/icons/ico_nsfw.gif");
}
.icon-fave:before {
    content: url("/web/20210201211736im_/https://fawm.org/img/icons/ico_fave.gif");
}
.icon-feast:before {
    content: url("/web/20210201211736im_/https://fawm.org/img/icons/ico_feast.gif");
}

.donation {
    padding-left:10px;
}

h1, h2 {
/*    margin-top:20px;*/
}

.nav-list li .pull-right i {
    visibility: hidden;
}
.nav-list li:hover .pull-right i,
.nav-list li.active .pull-right i {
    visibility: visible;
}

.advert img {
    border: 1px solid #333;
}

.user-table,
.user-table .badge {
    font-size:12px;
}

.permalink {
    font-size:12px;
    background-color:#eee;
    padding-left:5px;
     -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

#footer {
    background: #000 url('/web/20210201211736im_/https://fawm.org/img/ui/black_tweed.png') repeat;
    border: 1px solid #333;
    color: #666;
}
#footer a {
    color: #888;
}
#footer a:hover {
    color: #ccc;
}

.active .darken {
    color:#900;
}

.submit {
    margin-bottom:20px;
}

.myfawm-stats {
    font-size: 20px;
    color:#900;
    font-weight:bold;
/*    width: 16.7%;*/
}

.fawm-block .nav-list {
    padding-top: 5px;
    padding-bottom: 5px;
}

input.search-query {
    background: #666;
    border-color: #333;
    color: #ddd;
}
input.search-query:focus {
    background: #787878;
}

.search-query {
    width:55px;
}

.navbar-inverse .navbar-inner {
    background: #000 url('/web/20210201211736im_/https://fawm.org/img/ui/black_tweed.png') repeat;
}

/*.fawm-block {
    background:#f9f9f9;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-bottom:20px;
}

.fawm-content-block {
    padding: 15px;
}
*/
./*help-block {
    color: #999;
    font-style:italic;
}*/

.active {
    font-weight:bold;
}

.fawm-nav-block {
  width: 284px;
  margin: 0px 0 0;
  padding: 0;
}

.container {
    max-width: 900px;
}

.tags {
    font-size:11px;
    color:#999;
}
.tags a, .tags a:visited, .tags a:active {
    color:#999;
}

.blacken {
    color:#333;
}

.controls {
    min-width:330px;
}

.fawm-alt {
    max-width:768px;
    margin: 0 auto;
}

.fawm-error-block {
    max-width:500px;
    margin: 75px auto;
    color: #FFE0C2;
}
.fawm-error-block h1,
.fawm-error-block h4 {
    color: #900;
}

#footer-alt {
    margin:10px auto 20px auto;
    text-align: center;
    color:#fc9;
}
#footer-alt a,
#footer-alt a:visited,
#footer-alt a:active {
    color:#fed;
}

#footer-alt a:hover {
    color:#fff;
}



/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.embed-container {
    position: relative;
    padding-bottom: 56.25%; /* 16/9 ratio */
    padding-top: 30px; /* IE6 workaround*/
    height: 0;
    overflow: hidden;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.micro-count {
    width:25px;
}

.micro-type {
    width:20px;
}

/*.micro-avatar {
    width:35px;
}
*/
.micro-stats {
    width:50px;
    text-align:right;
}

.song-title {
    font-weight: bold;
    color:#000;
    font-size:14px;
}

li.media .media-meta {
    visibility: hidden;
}

.my-right-nav {
    border-left: 1px #ddd solid;
}

.hilite {
    font-weight:bold;
    background:#ff0;
}

.buffer {
    margin: 10px 0;
}
.shady {
    background: #e9e9e9; /* Old browsers */
    background: -moz-linear-gradient(top,  #e9e9e9 0%, #f9f9f9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e9e9e9), color-stop(100%,#f9f9f9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e9e9e9 0%,#f9f9f9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e9e9e9 0%,#f9f9f9 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e9e9e9 0%,#f9f9f9 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #e9e9e9 0%,#f9f9f9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9e9e9', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-9 */
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 5px;
    padding:20px 0 0 0;
    margin-top:15px;
}
.shady p {
    padding: 0 5px;
}
.teaser {
    height:52px;
    margin-bottom:5px;
}
.counter {
    width:35px;
    height:52px;
    display:inline-block;
}
.centered { text-align: center;}
.counter0 { background:url(/web/20210201211736im_/https://fawm.org/img/ui/counters.png) 0 0; }
.counter1 { background:url(/web/20210201211736im_/https://fawm.org/img/ui/counters.png) -35px 0; }
.counter2 { background:url(/web/20210201211736im_/https://fawm.org/img/ui/counters.png) -70px 0; }
.counter3 { background:url(/web/20210201211736im_/https://fawm.org/img/ui/counters.png) -105px 0; }
.counter4 { background:url(/web/20210201211736im_/https://fawm.org/img/ui/counters.png) -140px 0; }
.counter5 { background:url(/web/20210201211736im_/https://fawm.org/img/ui/counters.png) -175px 0; }
.counter6 { background:url(/web/20210201211736im_/https://fawm.org/img/ui/counters.png) -210px 0; }
.counter7 { background:url(/web/20210201211736im_/https://fawm.org/img/ui/counters.png) -245px 0; }
.counter8 { background:url(/web/20210201211736im_/https://fawm.org/img/ui/counters.png) -280px 0; }
.counter9 { background:url(/web/20210201211736im_/https://fawm.org/img/ui/counters.png) -315px 0; }


/* RESPONSIVE MAGIC */

@media (max-width: 767px) {
    .affixed-scroll {
      width: auto;
      margin-top: 0px;
      margin-bottom: 20px;
    }
    .affixed-scroll.affix {
      position: static;
      width: auto;
      top: 0;
    }
    .list-avatar {
        width: 125px;
    }
}

@media (max-width: 991px) {
    .activity-stream .faded {
        filter: alpha(opacity=100);
        -moz-opacity:1.0;
        -khtml-opacity: 1.0;
        opacity: 1.0;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .affixed-scroll {
        top: 0;
        margin-right: 0;
        width: 220px;
        margin-top: 70px;
    }
    .affixed-scroll.affix {
        top: 0;
    }
    .list-avatar {
        width: 150px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .affixed-scroll {
        top: 0;
        margin-right: 0;
        width: 270px;
        margin-top: 70px;
    }
    .affixed-scroll.affix {
        top: 0;
    }
}

@media (min-width: 1200px) {
    .affixed-scroll {
        top: 0;
        margin-right: 0;
        width: 270px;
        margin-top: 70px;
    }
    .affixed-scroll.affix {
        top: 0;
    }
}

@media (min-width: 768px) {
    /* When affixed, space properly */
    .jump:before {
        display:block;
        content:"";
        height: 70px;
        margin: -70px 0 0 0;
    }
    #q {
        width:130px;
    }
    html,
    body {
        background: -moz-linear-gradient(left, #aa4400 0%, #cc6600 40%, #cc6600 60%, #aa4400 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,#aa4400), color-stop(40%,#cc6600), color-stop(60%,#cc6600), color-stop(100%,#aa4400));  Chrome,Safari4+
        background: -webkit-linear-gradient(left, #aa4400 0%,#cc6600 40%,#cc6600 60%,#aa4400 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(left, #aa4400 0%,#cc6600 40%,#cc6600 60%,#aa4400 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(left, #aa4400 0%,#cc6600 40%,#cc6600 60%,#aa4400 100%); /* IE10+ */
        background: linear-gradient(to right, #aa4400 0%,#cc6600 40%,#cc6600 60%,#aa4400 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aa4400', endColorstr='#aa4400',GradientType=1 ); /* IE6-9 */
    }
}
/*
     FILE ARCHIVED ON 21:17:36 Feb 01, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 01:03:35 Mar 07, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 314.077
  exclusion.robots: 0.119
  exclusion.robots.policy: 0.108
  RedisCDXSource: 218.065
  esindex: 0.009
  LoadShardBlock: 77.586 (3)
  PetaboxLoader3.datanode: 249.452 (4)
  CDXLines.iter: 16.042 (3)
  load_resource: 1262.288
  PetaboxLoader3.resolve: 1039.507
*/