/*
 * FAWM Skin for jPlayer 2.2.0 (http://jplayer.org/)
 *
 * Author: Burr Settles (burrsettles.com)
 * Based on the design by @ormanclark (premiumpixels.com).
 */

/* GENERAL
----------------------------------------------- */
.jp-jplayer {
  width: 0px;
  height: 0px;
  background-color: #000000;
}
.jp-audio {
  margin: 0 auto;
  max-width: 100%;
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, "Nimbus Sans L", sans-serif;
  color: #fff;
  line-height: 1.6;
}
.jp-audio a {
  text-decoration: none;
  color: #d2d6db;
}
.jp-audio a:hover {
  color: #ffffff;
}
.jp-interface {
  position: relative;
  height: 30px;
  width: 100%;
  background-color: #222222;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#3a3b3c), to(#222222));
  background-image: -moz-linear-gradient(#3a3b3c, #222222);
  background-image: -ms-linear-gradient(#3a3b3c, #222222);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3a3b3c), color-stop(100%, #222222));
  background-image: -webkit-linear-gradient(#3a3b3c, #222222);
  background-image: -o-linear-gradient(#3a3b3c, #222222);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3a3b3c', endColorstr='#222222', GradientType=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#3a3b3c', endColorstr='#222222', GradientType=0)";
  background-image: linear-gradient(#3a3b3c, #222222);
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
  -khtml-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* CONTROLS
----------------------------------------------- */
.jp-controls {
  float: left;
  width: 30px;
  height: 30px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  z-index: 100;
}
.jp-controls:after {
  content: " ";
  position: absolute;
  top: 0;
  left: 30px;
  width: 0;
  height: 30px;
  border-left: 1px solid #242526;
  border-right: 1px solid #323334;
}
.jp-controls li {
  float: left;
}
.jp-controls a {
  position: absolute;
  overflow: hidden;
  /*text-indent: -9999px;*/
}
.jp-play,
.jp-pause {
  font-size: 18px;
  margin-top: 2px;
  margin-left: 8px;
  z-index: 1;
  outline: none;
  width: 30px;
  height: 30px;
  background-position: 10px center;
  background-repeat: no-repeat;
}
.jp-play:hover,
.jp-pause:hover {
  background-position: -23px center;
}

/* PROGRESS BAR
----------------------------------------------- */
.jp-progress {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  position: absolute;
  padding: 0 56px 0 40px;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  height: 7px;
}
.jp-seek-bar,
.jp-play-bar {
  width: 0px;
  height: 5px;
  -webkit-border-radius: 1px;
  -khtml-border-radius: 1px;
  -moz-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
}
.jp-seek-bar {
  cursor: pointer;
  position: relative;
  z-index: 999;
  background: #464849;
  background: #555;
}
.jp-seeking-bg {
    background: #999;
}
.jp-seek-bar:before {
  content: " ";
  display: block;
  background: transparent;
  border: 1px solid;
  border-color: #212424 #262929 #262929;
  height: 5px;
  width: 100%;
  position: relative;
  top: -1px;
  left: -1px;
  -webkit-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.1);
  -khtml-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.1);
  -moz-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.1);
  -o-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.1);
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.1);
  -webkit-border-radius: 1px;
  -khtml-border-radius: 1px;
  -moz-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
}
.jp-play-bar {
  position: absolute;
  top: 0;
  left: 0;
}
/* VOLUME BAR
----------------------------------------------- */
.jp-volume-bar {
  float: right;
  z-index: 99;
  position: relative;
  margin: 12px 10px 12px;
  width: 40px;
  height: 7px;
  cursor: pointer;
  background: #262929;
  -webkit-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.1);
  -khtml-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.1);
  -moz-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.1);
  -o-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.1);
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.1);
  -webkit-border-radius: 1px;
  -khtml-border-radius: 1px;
  -moz-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
}
.jp-volume-bar:before {
  content: " ";
  position: absolute;
  top: -12px;
  left: -35px;
  width: 0;
  height: 30px;
  border-left: 1px solid #323334;
  border-right: 1px solid #242526;
}
.jp-volume-bar-value {
  width: 0px;
  height: 5px;
  margin: 1px;
  -webkit-border-radius: 1px;
  -khtml-border-radius: 1px;
  -moz-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
}
.jp-play-bar,
.jp-volume-bar-value {
  background-color: #f93;
}
/* TIME HOLDER & TOGGLES
----------------------------------------------- */
.jp-time-holder {
  display: block;
  float: right;
  padding-top: 4px;
  /*width: 10%;*/
  padding-right: 10px;
}
.jp-toggles {
  display: none;
  visibility: hidden;
}
/* RESPONSIVE DESIGN
----------------------------------------------- */
/* remove volume controls for mobile devices */
@media handheld, only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
    .jp-progress {
      padding: 0 10px 0 40px;
    }
    .jp-volume-bar {
        width:0;
    }
    .jp-time-holder {
        display: none;
        visibility: hidden;
        width: 0;
    }
    .jp-volume-bar:before {
      border-left: 0;
      border-right: 0;
    }
}
/*
     FILE ARCHIVED ON 22:39:34 Oct 08, 2020 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 01:03:34 Mar 07, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 84.197 (3)
  exclusion.robots.policy: 0.137
  captures_list: 104.766
  esindex: 0.011
  PetaboxLoader3.resolve: 46.018
  RedisCDXSource: 0.565
  PetaboxLoader3.datanode: 115.005 (4)
  CDXLines.iter: 15.795 (3)
  load_resource: 126.349
  exclusion.robots: 0.146
*/